* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f8ff;
}

.container {

    margin: 0 auto; /* Add margin to the container */
    border: 5px solid #4CAF50;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}



.centre {
    width: 50%;
    text-align: center;
    padding: 20px;
    margin-top: 20%;
}


h1 {
    font-size: 48px;
    color: #4CAF50;
}

p {
    font-size: 24px;
    color: #333;
    margin-top: 10px;
}

.decoration {
    display: flex;
    flex-wrap: wrap;
    margin: 20px; /* Add margin to the decoration div */
    text-align: center; /* Center text if needed */
    margin-top: 400px;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    
}

.sub_decorration {
    flex: 0 1 calc(33.33% - 20px); /* 3 items per row with some space */
    margin: 10px; /* Space around each child */
    background-color: #f0f8ff;
    padding: 20px;
    text-align: center;
    
    border-radius: 5px;
}
@media (max-width: 600px) {
    .child {
        flex: 0 1 calc(50% - 20px); /* 2 items per row */
    }
}
.main_decoration {
    width: 100%;
}

img {
    max-width: 100%;
}

@media (min-width: 300px) {
    .sub_decorration {
        flex: 0 1 calc(100% - 20px); /* 3 items per row */
    }
    .big {
        font-size: 2em;
    }
    
    .med {
        font-size: 1em;
    }
    
}
@media (min-width: 600px) {
    .sub_decorration {
        flex: 0 1 calc(50% - 20px); /* 2 items per row */
    }
    .big {
        font-size: 4em;
    }
    
    .med {
        font-size: 2em;
    }
    
}

.scroll {

    text-align: center;
}
.scroll p {
    font-size: 15px;
}
